#mainheader {
    text-align: center;

}

body  {
    background-color:  #50C878!important;
}

#inputbox {
    
    width: 300px;
}



#btnInput{
    margin: auto;
    width: 400px

}

.deleteBtn {

float: right;
}

.listofTodos {
    display:table;
    margin:0px auto 0px auto;
    width: 300px;
    margin-bottom: 5px;
    
}

#addBtn{
    margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
    #btnInput{
        margin-left: 25px;
        
    
    }

    .listofTodos {
        display:table;
        width: 300px;
        margin-bottom: 5px;
        margin-left: 50px;
        
    }

    #mainheader {
        margin-left: 50px;
    
    }

}